<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/styles_JS/bootstrap.css">

    <title>{{ title }}</title>
</head>

<body>
    <section id="cover" class="min-vh-100">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <h1 class="display-4 py-2 text-truncate">AutoConfig</h1>
                        <div class="px-2">
                            <form action="" class="justify-content-center" id ='login-form' method="POST">
                                <div class="form-group">
                                    {{ form.csrf_token }}
                                    <label class="sr-only"></label>
                                    {{ form.username(class="form-control",placeholder="Username")}}
                                </div>
                                    {% for error in form.username.errors %}
                                        {{ error }}
                                    {% endfor %}
                                    <div class="form-group">
                                    <label class="sr-only"></label>
                                    {{ form.password(class="form-control",placeholder="Password")}}
                                </div>
                                <div class="form-group">
                                    {{ form.Submit(class="btn btn-info")}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="/configurator/static/styles_JS/bootstrap.js"></script>
</body>

</html>