<!doctype html>
<html lang="en">

    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="icon" href="favicon.ico" type="image/x-icon" />
      <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/static/styles_JS/bootstrap.css">

      <title>{{ title }}</title>
    </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">OAS AutoConfig</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {% if regions %}
        {% for region in regions.keys() %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{region}}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for city,href in regions[region].items() %}
            <a class="dropdown-item" href="/autoconfig/{{href}}">{{city}}</a>
            {% endfor %}
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class col>
      {% if current_user.is_authenticated %}
        <span class="badge badge-info">
          Welcome {{ current_user.user }}!
        </span>
      {% endif %}
      <a href="/logout"><span class="badge badge-warning">Logout</span></a>
      </div>
      <form class="form-inline">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"> {{ user }} <span class="sr-only">(current)</span></a>
          </li>
          <img src="/static/images/logo1.png" width="300" height="50" alt="">
        </ul>
      </form>
      {% endif %}
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category,message in messages %}
  <div class="alert alert-{{ category }}">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/static/styles_JS/bootstrap.js"></script>
  <script src="/static/styles_JS/js.js"></script>
</body>
</html>